$primary-background-color: #313940;
$secondary-background-color: #454c53;
$hover-background-color: #515961;
$active-background-color: #00b4a4;
$active-hover-background-color: #00c9b7;

$primary-text-color: #ffffff;

$tablet-width: 768px;
$mobile-width: 320px;
