$primary-background-color: #313940;
$secondary-background-color: #454c53;
$hover-background-color: #515961;
$active-background-color: #00b4a4;
$active-hover-background-color: #00c9b7;

$primary-key-color: #e0e1e3;
$hover-key-color: #ffffff;

$primary-sharp-color: $primary-background-color;
$hover-sharp-color: $secondary-background-color;

$hover-background-color: #00c9b7;
$active-background-color: #00b4a4;

$primary-text-color: #ffffff;
$secondary-text-color: #a2abb3;
$icon-text-color: #cbd5de;
$hover-icon-text-color: #ffffff;

$tablet-width: 768px;
$mobile-width: 480px;
