@mixin font($size, $height: normal) {
  font-size: $size;
  line-height: $height;
}

@mixin column($justify-center, $align-center, $direction, $wrap) {
  display: flex;
  justify-content: $justify-center;
  align-items: $align-center;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
