%transition {
  transition: all 0.3s ease-out;
}

%font-primary {
  font-family: 'Open Sans Light', sans-serif;
}

%font-bold {
  font-family: 'Open Sans Bold', sans-serif;
}

%font-secondary {
  font-family: 'Roboto Light', sans-serif;
}

%wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
