.main {
  position: relative;
  @include column(
    $justify-center: flex-start,
    $align-center: space-between,
    $direction: column,
    $wrap: wrap
  );
  @extend %wrapper;
  min-height: calc(100vh - 110px);
  margin: 0 auto;
  padding: 50px 10px 0;
}

.btn-container {
  @include column(
    $justify-center: center,
    $align-center: space-between,
    $direction: row,
    $wrap: wrap
  );
  margin-bottom: 80px;
}

.piano-keys {
  @include column(
    $justify-center: space-between,
    $align-center: flex-start,
    $direction: row,
    $wrap: nowrap
  );
  width: 100%;
  max-width: 560px;
  height: 270px;
  margin: 0 auto 60px;
}

.keys-sharp {
  position: absolute;
  top: 185px;
  left: 50%;
  width: 100%;
  max-width: 454px;
  @include column(
    $justify-center: space-between,
    $align-center: flex-start,
    $direction: row,
    $wrap: nowrap
  );
  transform: translateX(-50%);
  pointer-events: none;
}

@media (max-width: $tablet-width) {
  .piano-keys {
    max-width: 420px;
    margin: 20px auto 60px;
  }

  .keys-sharp {
    top: 206px;
    max-width: 334px;
  }
}

@media (max-width: $mobile-width) {
  .piano-keys {
    max-width: 280px;
    margin: 20px auto 60px;
  }

  .keys-sharp {
    top: 256px;
    max-width: 224px;
  }
}
