html {
  font-size: 10px;
  background-color: $primary-background-color;
}

body {
  
  @extend %font-primary;
  @include font($size: 1.6rem, $height: normal);
  font-weight: 300;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  @include font($size: 3.6rem, $height: 6rem);
  font-weight: 300;
  color: $primary-text-color;
}
