.btn {
  margin: 5px;
  padding: 10px 52px;
  @include font($size: 1.6rem);
  color: $primary-text-color;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: $secondary-background-color;
  cursor: pointer;
  @extend %transition;

  &:hover {
    background-color: $hover-background-color;
  }

  &:active {
    background-color: $active-background-color;
  }
}

.btn-active {
  background-color: $active-background-color;

  &:hover {
    background-color: $active-hover-background-color;
  }
}

.open-fullscreen,
.close-fullscreen {
  width: 42px;
  height: 42px;
  margin: 5px 15px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  background-color: $secondary-background-color;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center;
  @extend %transition;
  cursor: pointer;

  &:hover {
    background-color: $hover-background-color;
  }

  // remove after javascript
  &:active {
    background-color: $active-background-color;
  }
}

.open-fullscreen {
  background-image: url('./assets/img/fullscreen/open.svg');
}

.close-fullscreen {
  background-image: url('./assets/img/fullscreen/close.svg');
}
