.key {
  position: relative;
  min-width: 80px;
  height: 270px;
  border: 4px solid $primary-background-color;
  border-radius: 0px 0px 12px 12px;
  background-color: $primary-key-color;
  transform-origin: center top;
  @extend %transition;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $hover-key-color;

    &::before,
    &::after {
      color: $hover-background-color;
    }
  }

  // remove after javascript
  /*   &:active {
    transform: scale(0.96);

    &::before,
    &::after {
      color: $active-background-color;
    }
  } */

  &::before,
  &::after {
    position: absolute;
    bottom: -45px;
    left: 50%;
    width: 40px;
    height: 40px;
    content: attr(data-note);
    @extend %font-secondary;
    @include font($size: 2.6rem, $height: 4rem);
    text-align: center;
    color: $secondary-text-color;
    transform: translateX(-50%);
    @extend %transition;
    pointer-events: none;
  }

  &.pseudo-before::before {
    display: none;
  }

  &::after {
    display: none;
    content: attr(data-letter);
  }

  // change with javascript
  &.pseudo-after::after {
    display: block;
  }
}

.sharp {
  position: relative;
  z-index: 3;
  min-width: 54px;
  height: 170px;
  border-radius: 0px 0px 9px 9px;
  background-color: $primary-sharp-color;
  transform-origin: center top;
  pointer-events: auto;
  @extend %transition;
  cursor: pointer;
  user-select: none;

  &:hover {
    &::before,
    &::after {
      color: $hover-background-color;
    }
  }

  // remove after javascript
  /*   &:active {
    transform: scale(0.96);

    &::before,
    &::after {
      color: $active-background-color;
    }
  } */

  &::before,
  &::after {
    position: absolute;
    bottom: 175px;
    left: 50%;
    width: 40px;
    height: 40px;
    content: attr(data-note);
    @extend %font-secondary;
    @include font($size: 2.6rem, $height: 4rem);
    text-align: center;
    color: $secondary-text-color;
    transform: translateX(-50%);
    @extend %transition;
    pointer-events: none;
  }

  &.pseudo-before::before {
    display: none;
  }

  &::after {
    display: none;
    content: attr(data-letter);
  }

  // change with javascript
  &.pseudo-after::after {
    display: block;
  }
}

.none {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  pointer-events: none;
}

.piano-active {
  transform: scale(0.96);
}

.piano-active {
  &.piano-active-pseudo::after,
  &.piano-active-pseudo::before {
    color: $active-background-color;
  }
}

@media (max-width: $tablet-width) {
  .key {
    min-width: 60px;
  }

  .sharp {
    min-width: 34px;
  }
}

@media (max-width: $mobile-width) {
  .key {
    min-width: 40px;
  }

  .sharp {
    min-width: 24px;
  }
}
